@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-break {
  page-break-before: always;
  break-before: always;
}
.react-before-slider__image {
  height: 100% !important;
  width: 100% !important;
  object-fit: cover !important;
  object-position: center center !important; /* Adjusts the image to show the center */
}
